
<div class="jumbotron text-center">
  <h1>IEX Stocks</h1>
  <p>Team 1's IEX Stock project</p>
</div>
<table>
  <td *ngIf="companyFD">
    test
  </td>

  <td *ngIf="companyInfo">
    test
  </td>
</table>

<div class="header">
  <table align="center">
    <tr>
      <td class="title">Google</td>
      <td>
        <button (click)="getCompanyInfo(2)">
          Company Info
        </button>
      </td>
      <td>
        <button (click)="getDateFilter(2)">
          DateFilter
        </button>
      </td>
    </tr>
    <tr>
      <td class="title">RFEM</td>
      <td>
        <button (click)="getCompanyInfo(1)">
          Company Info
        </button>
      </td>
      <td>
        <button (click)="getDateFilter(1)">
          DateFilter
        </button>
      </td>
    </tr>
    <tr>
      <td class="title">UNH</td>
      <td>
        <button (click)="getCompanyInfo(3)">
          Company Info
        </button>
      </td>
      <td>
        <button (click)="getDateFilter(3)">
          DateFilter
        </button>
      </td>
    </tr>
  </table>
</div>
