<div class="jumbotron text-center">
  <h1>IEX Stocks</h1>
  <p>Team 1's IEX Stock project</p>
</div>
<div>
  Generate 30 day report: <input type="date" [(ngModel)]="date30">
  <button (click)="getThirtyDay()">Submit</button><br>
  <table class="table table-striped" *ngIf="dataChart.length!=0">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company ID</th>
      <th scope="col">Date</th>
      <th scope="col">Open</th>
      <th scope="col">Close</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Volume</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of data30">
      <th scope="row">{{x.id}}</th>
      <td>{{x.companyID}}</td>
      <td>{{x.date}}</td>
      <td>{{x.open}}</td>
      <td>{{x.close}}</td>
      <td>{{x.high}}</td>
      <td>{{x.low}}</td>
      <td>{{x.volume}}</td>
    </tr>
    </tbody>
  </table>
  <google-chart *ngIf="dataChart.length!=0" #chart
                [title]="title"
                [type]="type"
                [data]="dataChart"
                [columnNames]="columnNames"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>
</div>

<div class="header" *ngFor="let s of symbols">
  <div class="row">
    <div class="col-md-3 title">
        {{s.name}}
    </div>
    <div class="col-md-4 button">
      <button (click)="getCompanyInfo(s.id)">
        Company Info
      </button>
    </div>
    <div class="col-md-4">
      <div class="row inner">
        <div class="col-md-4 button">
          <button (click)="getDateFilter(s.id)">
            DateRange
          </button>
        </div>
      </div>
      <div class="row input">
        <div class="col-md-4">
          From: <input type="date" [(ngModel)]="fromdate">
        </div>
        <div class="col-md-4">
          To: <input type="date" [(ngModel)]="todate">
        </div>
      </div>
    </div>
  </div>
  <div class="row data" *ngIf="dataInfo[s.id] || dataFD[s.id]">
    <div class="col-md-3"></div>
    <div class="col-md-4">
      <div *ngIf="dataInfo[s.id]">
        <b>{{dataInfo[s.id].companyName}}</b> is traded in the <b>{{dataInfo[s.id].exchange}}</b> as <b>{{dataInfo[s.id].symbol}}</b>
        <br><br>Industry: <b>{{dataInfo[s.id].industry}}</b>
        <br>Website: <a href="{{dataInfo[s.id].website}}" target="_blank">{{dataInfo[s.id].website}}</a>
      </div>
    </div>
    <div class="col-md-1 bar"></div>
    <div class="col-md-4">
      <div *ngIf="dataFD[s.id]">
        Range: {{dataFD[s.id].startDate | date}} to {{dataFD[s.id].endDate | date}}
        <br>Avg Price: {{dataFD[s.id].avg | currency}}
        <br>Max Price of {{dataFD[s.id].max | currency}} reached on {{dataFD[s.id].maxDate | date}}
        <br>Min Price of {{dataFD[s.id].min | currency}} reached on {{dataFD[s.id].minDate | date}}
        <br>Median Price of {{dataFD[s.id].mead | currency}} reached on {{dataFD[s.id].meadDate | date}}
      </div>
    </div>
  </div>
  <div class="row break"></div>
</div>
